In [1]:
import pandas as pd

# STEP 1: Load your dataset
file_path = "sampledv.xlsx"  # Change path if needed
df = pd.read_excel(file_path)

# STEP 2: Clean and transform data
df = df.dropna()  # Remove missing values
df['year'] = df['year'].astype(int)
df['price'] = df['price'].astype(float)
df['price_per_mile'] = df['price'] / df['mileage']
df['model'] = df['model'].astype('category').cat.codes
df['transmission'] = df['transmission'].astype('category').cat.codes
df['fuelType'] = df['fuelType'].astype('category').cat.codes
df.rename(columns={'mpg': 'MilesPerGallon'}, inplace=True)
df['mpg_level'] = pd.cut(df['MilesPerGallon'], bins=[0, 30, 50, 100], labels=['Low', 'Medium', 'High'])

# Save transformed data for reference
df_transformed = df

# STEP 3: GroupBy Operations
avg_price_model = df_transformed.groupby('model')['price'].mean()
print("Average Price by Model:\n", avg_price_model)

count_by_fuel = df_transformed.groupby('fuelType').size()
print("\nCar Count by Fuel Type:\n", count_by_fuel)

multi_agg = df_transformed.groupby('model').agg({
    'price': 'mean',
    'mileage': 'max',
    'engineSize': 'mean'
})
print("\nAggregated Stats by Model:\n", multi_agg)

# STEP 4: Pivot Table Operations
pivot_avg_price = pd.pivot_table(
    df_transformed,
    values='price',
    index='model',
    columns='transmission',
    aggfunc='mean'
)
print("\nPivot Table - Average Price (Model x Transmission):\n", pivot_avg_price)

pivot_car_count = pd.pivot_table(
    df_transformed,
    index='fuelType',
    columns='transmission',
    values='model',
    aggfunc='count',
    fill_value=0
)
print("\nPivot Table - Car Count (FuelType x Transmission):\n", pivot_car_count)

Average Price by Model:
 model
0     13350.000000
1     13375.000000
2     15583.333333
3     14250.000000
4     14470.000000
5     27000.000000
6     14500.000000
7     12350.000000
8     14733.333333
9     14275.000000
10    15412.500000
11    13500.000000
12    12445.000000
13    12333.333333
14    20042.133333
15    18632.500000
16    22500.000000
17    16350.000000
18    19000.000000
19    24139.117647
20    17666.666667
Name: price, dtype: float64

Car Count by Fuel Type:
 fuelType
0    37
1     1
2    98
dtype: int64

Aggregated Stats by Model:
               price  mileage  engineSize
model
0      13350.000000    29840    1.666667
1      13375.000000    31469    1.750000
2      15583.333333    55594    2.000000
3      14250.000000    42668    2.000000
4      14470.000000    67068    2.200000
5      27000.000000    14827    2.000000
6      14500.000000    39554    3.000000
7      12350.000000    32260    1.400000
8      14733.333333    46112    1.333333
9      14275.000000    75185    2.000000
10     15412.500000    76788    2.000000
11     13500.000000    12065    1.000000
12     12445.000000    35432    1.162500
13     12333.333333    48141    1.000000
14     20042.133333    72000    2.000000
15     18632.500000    14680    1.833333
16     22500.000000     2029    1.000000
17     16350.000000    44915    2.000000
18     19000.000000    37652    2.000000
19     24139.117647    22584    1.532353
20     17666.666667    77823    2.000000

Pivot Table - Average Price (Model x Transmission):
 transmission             0             1             2
model
0             14125.000000  11800.000000           NaN
1                      NaN  13375.000000           NaN
2             15125.000000  16500.000000           NaN
3                      NaN  14250.000000           NaN
4             14470.000000           NaN           NaN
5             27000.000000           NaN           NaN
6             14500.000000           NaN           NaN
7             13900.000000  11833.333333           NaN
8             14200.000000  15000.000000           NaN
9             16800.000000  11750.000000           NaN
10            15416.666667  15400.000000           NaN
11                     NaN  13500.000000           NaN
12            16500.000000  11865.714286           NaN
13                     NaN  12333.333333           NaN
14            25277.500000  19346.131579  23237.600000
15            25500.000000  16432.333333  18499.000000
16                     NaN  22500.000000           NaN
17            15700.000000  17000.000000           NaN
18            19000.000000           NaN           NaN
19            28458.333333  21788.181818  28446.111111
20            18750.000000  15500.000000           NaN

Pivot Table - Car Count (FuelType x Transmission):
 transmission   0   1   2
fuelType
0             20  15   2
1              1   0   0
2              8  76  14